*{
    margin:0px;
    padding:0px;
}
/* heading banner */
.banner{
    padding:150px 250px 0px 650px;
    text-align:right;
    background-image:url("../images/banner/banner2.png");
    height:600px;
    background-size:100% 100%;
    background-repeat:no-repeat;
    box-sizing:border-box;
}
.banner-title{
    
    font-size:50px;
}
.banner-description{
    margin-top:30px;
    color:#5a5a5b;
    margin-bottom:20px;
}
.banner-button{
    font-size:20px;
    font-weight: 500;
    margin-top:10px;
    color:white;
    background-color:#f15b22;
    padding:20px;
    border:0;
    border-radius:6px;
}
/* overcome section */
.overcome{
    margin: 100px;
    display:flex;
    justify-content:center;
    gap:30px;
}
.overcome-image img{
    height:700px;
}
.overcome li{
    list-style:none;
    color:grey;
    font-size:20px;
}
.overcome-details{
    margin-top:120px;
}
.overcome-title{
    font-size:40px;
}
.overcome-description{
    margin:20px 0;
    color:rgb(105, 104, 104);
}
/* plan */
.plan-details{
    margin:100px 200px;
    text-align: center;
    box-shadow: 1px 1px 1px 1px grey;
    background-color: bisque;
}
.plan-description{
    margin:30px;
    color:grey;
    font-weight:500;
    font-size:20px;
}
.plan-type{
    display:flex;
    justify-content: center;
    gap:30px;
}
.skill,.education,.addiction{
    radius:6px;
    box-sizing: border-box;
    width:350px;
    padding:20px;
}
.skill{
    background-color:lightskyblue
}
.education{
    background-color: lightpink;
}
.addiction{
    background-color: lightgoldenrodyellow;
}